<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div id="app">
        <p v-for="(item,index) of items">
            {{item.message}}{{index}}
        </p>
        <template v-for="item of items">
            <p v-if="item.flag==1">{{item.message}}</p>
        </template>
    </div>
</body>
<!--列表渲染-->
<script src="vue.js"></script>
<script>
    var vm=new Vue({
        el:"#app",
        data:{
            items:[
                {
                    flag:1,
                    message: 'Fodddo'
                },
                {
                    flag:2,
                    message: 'Bar'
                }
            ]
        }
    })

</script>
</html>